PORT=3000
NODE_ENV=development

# PostgreSQL – Render
DATABASE_URL=postgresql://user:password@host:5432/dbname

# O variables individuales (si no usas DATABASE_URL)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=tiendita

JWT_SECRET=tiendita_secret_2025_!xK9mQ
JWT_EXPIRES_IN=7d
